html {
  text-align: center;
  align-content: center;
  font-family: "Share Tech Mono", monospace;
  padding: 0;
  margin: 0;
}

.content {
  animation: fadeIn 5s;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
  border-radius: 6px;
  padding: 5px 13px;
  margin-bottom: 6px;
  margin: 10px;
  transition-duration: 0.45s;
  font-size: 20px;
  color: var(--main-text-color);
  font-family: "Share Tech Mono", monospace;
  text-underline-position: under;
  opacity: 70%;
}
button:hover {
  cursor: pointer;
  opacity: 90%;
}

h2 {
  font-size: 42px;
  color: var(--main-text-color);
  margin-top: 3%;
}

.game {
  width: 13%;
  display: inline-block;
  background-color: var(--game-color);
  padding: 1%;
  border-radius: 10%;
  margin: 2%;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 5px 5px var(--game-color);
  height: 100%;
}

.game:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

.game h1 {
  float: right;
  font-size: 0.85em;
  color: var(--main-text-color);
}
.game img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  aspect-ratio: 1/1;
}

a {
  font-size: 20px;
  color: var(--main-text-color);
  margin: 10px;
  transition-duration: 0.5s;
}

a:hover {
  filter: brightness(150%);
}

.bookmarklet {
  font-size: 25px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 40;
  }
  80% {
    opacity: 90;
  }
  90% {
    opacity: 92;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeInPadding {
  0% {
    padding-left: 0%;
    padding-right: 0%;
  }
  100% {
    padding-left: 5%;
    padding-right: 5%;
  }
}

body {
  background: repeating-linear-gradient(45deg, var(--bg-1) 0%, var(--bg-2) 33%, var(--bg-1) 66%, var(--bg-2) 100%);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 30s linear infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

input[type="text"] {
  width: 50%;
  box-sizing: border-box;
  font-size: 20px;
  background-color: var(--input-bg-color);
  padding: 0.8% 0.8%;
  text-align: center;
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  opacity: 70%;
  transition: opacity 0.25s ease-in-out;
  font-family: "Share Tech Mono", monospace;
}
input[type="text"]:hover {
  opacity: 80%;
}
input[type="text"]:focus {
  opacity: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-text-color);
  opacity: 0.6; /* Firefox */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  padding: 8px;
  top: 10px;
}

p {
  font-size: 20px;
  color: var(--p-text-color);
}

#webname #webicon {
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  background-color: var(--input-bg-color);
  padding: 0.8% 0.8%;
  text-align: center;
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  opacity: 70%;
  transition: opacity 0.25s ease-in-out;
  font-family: "Share Tech Mono", monospace;
}

h3 {
  font-size: 20px;
  color: var(--main-text-color);
}

.submit {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
  border: 2px solid var(--border-color);
  border-radius: 6px;
  padding: 5px 13px;
  margin-bottom: 6px;
  margin: 10px;
  transition-duration: 0.45s;
  font-size: 20px;
  color: var(--main-text-color);
  font-family: "Share Tech Mono", monospace;
  text-underline-position: under;
  opacity: 70%;
}
.submit:hover {
  cursor: pointer;
  opacity: 90%;
}

.material-symbols-rounded {
  float: left;
  color: var(--star-color);
  font-size: 1.9em;
  transition-duration: 0.75s;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#starred {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

#random {
  padding: 0.8% 0.8%;
}
#particles-js{ position:fixed; width: 100%; height: 100%; background-position: 50% 50%; z-index: -187755;}
